<div class="purpose">
  <div class="purpose__advice">
    <h1 class="bet__welcome">
      Do you want to bet on a specific game or the entire matchday?
    </h1>
    <form class="bet__body">
      <label for="specific">
        <input
          type="checkbox"
          id="specific"
          name="specific"
          value="specific"
        />A specific game</label
      >

      <label for="entire"
        ><input type="checkbox" id="entire" name="entire" value="entire" />The
        entire game week</label
      ><br />
    </form>
    <div class="bet__btn">
      <button class="bet__button">Ok</button>
    </div>
  </div>
  <img
    src="/img/friends_joy.jpg"
    alt="a group of friends laughing"
    class="purpose__image"
  />
</div>
