<div class="purpose">
  <div class="purpose__advice">
    <h1 class="bet__welcome">
      What do you think the final score of Manchester United - Chelsea will be,
      starting with the home team's score?
    </h1>
    <p class="bet__fs">
      Please write the score by separating both number of goals by a hyphen
      (e.g. "2-1")
    </p>
    <form action="" class="betfs__body">
      <input
        type="text"
        id="betfs"
        name="betfs"
        placeholder="Type your answer here..."
      />

      <br />
      <div class="bet__btn">
        <input type="submit" value="Ok" class="bet__button" />
      </div>
    </form>
  </div>
  <img
    src="/img/friends_joy.jpg"
    alt="a group of friends laughing"
    class="purpose__image"
  />
</div>
