<div class="purpose">
  <div class="purpose__advice">
    <h1 class="bet__welcome">What game do you want to bet on?</h1>
    <form class="bet__body">
      <label for="specific">
        <input
          type="checkbox"
          id="specific"
          name="specific"
          value="specific"
        />Manchester United - Chelsea</label
      >
      <label for="entire"
        ><input type="checkbox" id="entire" name="entire" value="entire" /> game
        2</label
      >
      <label for="entire"
        ><input type="checkbox" id="entire" name="entire" value="entire" /> game
        3</label
      >
      <label for="entire"
        ><input type="checkbox" id="entire" name="entire" value="entire" /> game
        4</label
      ><br />
    </form>
    <div class="bet__btn">
      <button class="bet__button">Ok</button>
    </div>
  </div>
  <img
    src="/img/friends_joy.jpg"
    alt="a group of friends laughing"
    class="purpose__image"
  />
</div>
