<div class="purpose">
  <img
    src="/img/friends_joy.jpg"
    alt="a group of friends laughing"
    class="purpose__image"
  />
  <div class="purpose__advice">
    <h1 class="bet__welcome">What matchday do you want to create?</h1>
    <form class="bet__body">
      <label for="specific">
        <input
          type="checkbox"
          id="specific"
          name="specific"
          value="specific"
        />Total number of goals</label
      >
      <label for="entire"
        ><input type="checkbox" id="entire" name="entire" value="entire" />Total
        number of yellow cards</label
      >
      <label for="entire"
        ><input type="checkbox" id="entire" name="entire" value="entire" />Total
        number of red cards</label
      >
      <label for="entire"
        ><input
          type="checkbox"
          id="entire"
          name="entire"
          value="entire"
        />Number of clean sheets</label
      ><br />
    </form>
    <div class="bet__btn">
      <button class="bet__button">Ok</button>
    </div>
  </div>
</div>
