<div class="purpose">
  <img
    src="/img/friends_joy.jpg"
    alt="a group of friends laughing"
    class="purpose__image"
  />
  <div class="purpose__advice">
    <h1 class="bet__welcome">
      How many yellow cards do you think will be distributed in Manchester
      United - Chelsea?
    </h1>
    <form action="" class="betfs__body">
      <input
        type="text"
        id="betyc"
        name="betyc"
        placeholder="Type your answer here..."
      />

      <br />
      <div class="bet__btn">
        <input type="submit" value="Ok" class="bet__button" />
      </div>
    </form>
  </div>
</div>
