<form action="/invite?betId=<%= betId %>" method="POST">
  <label class="email" for="emails"
    >Enter friends' email addresses (comma-separated):</label
  >
  <input type="text" id="emails" name="emails" required />
  <button type="submit">Send Invitations</button>
</form>
