<div class="yourbet">
  <h1 class="bet__welcome">How much do you bet?</h1>
  <form action="" class="betfs__body">
    <input
      type="text"
      id="yourbet"
      name="yourbet"
      placeholder="Enter your amount here..."
    />

    <br />
    <div class="bet__btn">
      <input type="submit" value="Ok" class="bet__button" />
    </div>
  </form>
</div>
