<div class="yourbet">
  <h1 class="bet__welcome">How much do you bet?</h1>
  <form id="yourbet" action="/yourbet" method="post" class="moneyBet__body">
    <input
      type="text"
      id="moneyBet"
      name="moneyBet"
      placeholder="Enter your amount here..."
    />

    <br />
    <div class="bet__btn">
      <input type="submit" value="Ok" class="bet__button" />
    </div>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("yourbet");

    form.addEventListener("submit", function (event) {
      const moneyBetInput = document.getElementById("moneyBet");
      const moneyBetValue = moneyBetInput.value.trim();

      const moneyBetPattern = /^\d+$/;

      if (!moneyBetPattern.test(moneyBetValue)) {
        event.preventDefault();
        alert(
          "Please enter your bet in a number format without space or any character in between, for exemple: '10'."
        );
      }
    });
  });
</script>
